.Jedi {
    background: #FAFAFA;
    height: 150px;
    width: 250px;
    margin: 20px;
    padding: 0;
}

.Jedi__header {
    background: #222;
    width: 230px;
    height: 30px;
    margin: 0;
    padding: 5px 10px;
    font-size: 18px;
    line-height: 30px;
    color: white;
    text-align: right;
}

.Jedi__content {
    height: 70px;
    margin: 20px;
    font-size: 24px;
    text-align: center;
    line-height: 70px;
}
